*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f8f8f8;
    color: #000;
}
header{
    background: #fff;
    height: 20dvh;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: #000;
}
.categs{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #f00;
}
.relative{
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bi-search{
    left:90%;
}
.segundo_nav{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}
.producto{
    display: flex;
    width: 50%;
}
.carousel{
    background: gray;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.carousel_small{
    width: 15%;
    display: flex;
    flex-direction: column;
}
.carousel-item{
    width: 100%;
}
