*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f8f8f8;
    color: #000;
}
header{
    background: #fff;
    height: 20dvh;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: #000;
}
.categs{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #f00;
}
.relative{
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bi-search{
    left:90%;
}
/*.segundo_nav{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}*/
main{
    padding: 2%;
}
.logo{
    width: 25%;
}
.producto{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.carousel{
    background: gray;
    border-radius: 10px;
    width: 50%;
    /*height: 70dvh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}
.carousel-inner{
    width: 100%;
}
.carousel_small{
    width: 25%;
}
.carousel_small-inner{
    width: 100%;
    height: 60dvh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #fff;
}
.carousel_small-item{
    margin: 15%;
}
.carousel_small-control-prev, .carousel_small-control-next{
    position: absolute;
    top: 0;
    bottom: 40%;
    left: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    font-size: 20px;
    padding: 0;
    color: #fff;
    text-align: center;
    filter: var(--bs-carousel-control-icon-filter);
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}
.carousel_small-control-next{
    left: 0px;
    top:85%;
}
aside{
    width: 40%;
}
.contenedor_precio_online{
    display: flex;
}
.contenedor_precio_online > h1{
    color: #fd223f;
}
.contenedor_redes > i{
    margin: 1%;
    font-size: 20px;
}
.precio_online{
	background: #fd223f;
	color: #fff;
	width: 20%;
	border-radius: 5px;
}
.disponibles{
    width: 55%;
    display: flex;
    justify-items: flex-start;
    border: 0.5px solid #000;
    border-radius: 10px;
}
.caracteristicas{
    background: #fff;
    border-radius: 5px;
    font-size: 12px;
    list-style-type: square;
}
ul li::marker{
    color: #f00;
}
.sumar-restar-carrito{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.botones-suma-resta{
    display: flex;
    justify-content: center;
}
.botones-suma-resta > h4{
    margin: 0;
}
.botones-suma-resta > button{
    width: 50px;
}
/******************************************CARRITO***************************************************/
.carrito{
    display: flex;
    justify-content: space-around;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
thead th{
    background: #f3f3f3;
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #ccc;
}
tbody td{
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
}
@media(max-width: 1100px){
	.desaparecer{
        display: none;
    }
}
@media(max-width: 1000px){
    .logo{
        width: 30%;
    }
    .carousel{
        width: 55%;
    }
}
@media(max-width: 900px){
    .contenedor_iconos{
        display:flex;
        justify-content: space-around;
        width: 50%;
    }
    .carousel{
        width: 65%;
    }
}
@media(max-width: 800px){
    .carousel{
        width: 60%;
        height: 75dvh;
    }
}
@media(max-width: 700px){
    .carousel{
        width: 50%;
        height: 50%;
    }
}
@media(max-width: 600px){
	nav{
        flex-direction: column;
    }
    .producto{
        flex-direction: column;
        align-items: center;
    }
    .carousel, aside{
        width: 80%;
    }
    .precio_online{
        width: 25%;
    }

}
@media(max-width: 500px){


}
@media(max-width: 450px){
    .logo{
        width:50%;
    }
}
@media(max-width: 320px){
    .relative{
        width: 75%;
    }
}